:root{
    --morado-ligth: #4E36E9;
    --morado-dark: #3521B5;
    --letra-color: #000000;
    --fondo-color: #ffffff;
    --tipletra : 'Reem Kufi', sans-serif;
    --iniciasesion : 'Rokkitt', serif;
}
body{
    margin: 0;
    padding: 0;
}
.log{
    display: flex;
}
#cardizqui{
    height:100vh;
    width: 50%;
    background-color: var(--fondo-color);
}

.iconhuella{
    height: 1vh;
    width: 1vh;
    float: inline-start;
    margin-left: 5vh;
}
#imagehuella{
    height: 40px;
    margin: 3px;
} 
.title{
    margin-left: 5vh;
    margin-top: 7vh;
    font-family: var(--tipletra);
    color: var(--letra-color);
    font-size: 100;
}
.line{
    height: 0.3vh;
    width: 47vh;
    background-color: var(--morado-dark);
    margin-left: 5vh;

}
.formulario{
    margin:5vh;
    margin-right: 10vh;
}
#name{
    color: var(--letra-color);
    font-family: var(--tipletra);
}
#name input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}
#apellido{
    color: var(--letra-color);
    font-family: var(--tipletra);
}
#apellido input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
   
}

#identificacion{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#identificacion input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}

#celular{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#celular input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}

#direccion{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#direccion input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}

#email{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#email input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}

#password{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#password input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
    margin-bottom: 35px;

}
#exampleCheck1{
    background-color: var(--morado-ligth);
}

#btn-login{
    background-color: var(--morado-ligth);
    font-family: var(--tipletra);
    border: var(--morado-ligth);
    box-shadow: 2px 2px 4px var(--morado-dark);
  
}

.formulario{
    font-family: var(--tipletra);
}

#cajacheck p a:hover{
    color: gold;  
}


.ir{
    margin: 5vh;
    font-family: var(--tipletra);
}
.ir a {
    margin: 1vh;
    color: var(--morado-dark);
    
}
.ir a:hover{
    color: gold;
}


#cardere{
    height:100vh;
    width: 50%;
    background-color: var(--morado-ligth);
    float: left;
    padding: 0;
}

.container-lg{
    padding: 0;
}

#colordarkpurple-arriba{
    display: block;
    padding: 0;
}

.contai{
    height: 47px;
    width: 301px;
    background-color: var(--morado-dark);
}
.contai1{
    height: 53px;
    width: 201px;
    background-color: var(--morado-dark);
    
}
.contai2{
    height: 33px;
    width: 101px;
    background-color: var(--morado-dark);
}
/* .colordarkpurple-abajo{
    display: flex;
}

.contai3{
    height: 75px;
    width: 401px;
    background-color: var(--morado-dark);
    float:right;
    margin-top: 288px;
}
.contai4{
    height: 75px;
    width: 401px;
    background-color: var(--morado-dark);
    float:right;   
}
.contai5{
    height: 75px;
    width: 401px;
    background-color: var(--morado-dark);
    float:right;   
} */



.titleinitsection{
    justify-content: center;
    display: flex;
}
.titleinitsection h1{
    color: var(--fondo-color);
    font-family: var(--iniciasesion);
    margin-bottom: 20px;
    font-size: 60px;

}

#imgcenter{
    justify-content: center;
    display: flex;
}
#image-logo{
    height: 250px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 4px var(--morado-dark);
}
#textod{
    font-family: var(--iniciasesion);
    margin-top: 20px;
    font-size: 20px;
    color: var(--fondo-color);
}




