:root{
    --morado-ligth: #4E36E9;
    --morado-dark: #3521B5;
    --letra-color: #000000;
    --fondo-color: #ffffff;
    --tipletra : 'Reem Kufi', sans-serif;
    --iniciasesion : 'Rokkitt', serif;
}

body{
    margin: 0;
    padding: 0;
}
#cont-img{   /*container vertical*/
   background-color: var(--morado-ligth);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40vh;
    height: 100vh;
    align-content: space-between;
    float: left;
}
#img-log{
    margin: 30px;
    padding: 5px;
    height: 150px;
    width: 150px;
    box-shadow: 0.1px 0.3px 0.5px 1.5px #3521B5;
    border-radius: 5px var(--morado-ligth);
}
.contarriba{
    background-color: var(--morado-ligth);
    height: 150px;
}
.btns-menu{
    background-color: var(--morado-dark);
    color: var(--fondo-color);
    margin-bottom: 24px;
    margin-left: 5px;
    padding: -9px;
    height: 60px;
    width: 250px;
    border-radius: 35px;
    border: solid 1px var(--morado-dark);
    font-family: var(--tipletra);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: left;

}
.styles-btns{
    width: 20px;
    height: 20px;
    margin: 5px;
}
#profile{
    float: left;
    margin-left: 25px;
}
#vacuna{
    float: left;
    margin-left: 25px;
}
#huella{
    float: left;
    margin-left: 25px;
}
#salir{
    float: left;
    margin-left: 25px;
}
.box-profile{
    display: flex;
}
#profile-icon{
    height: 65px;
    margin: 40px;
   
}
.title-profile{
    color: var(--fondo-color);
   margin-top: 20px;
   font-family: var(--tipletra);
   font-size: 20px;
}
.profile{
    background-color: var(--morado-dark);
    float: right;
    height: 100px;
    width: 380px;
    margin-left: 320px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 0px 2px 2px rgba(38, 6, 219, 0.712);
}
.imgprofile{
    display: flex;
}
#avatar{
    margin:20px;
    border-radius: 50%;
    height: 50px;
}
 h3{
    color: var(--fondo-color);
    font-family: var(--tipletra);
    font-size: 20px;
    padding: 20px;
    align-items: center;
}
