/* :root{
    --morado-ligth: #4E36E9;
    --morado-dark: #3521B5;
    --letra-color: #000000;
    --fondo-color: #ffffff;
    --tipletra : 'Reem Kufi', sans-serif;
    --iniciasesion : 'Rokkitt', serif;
}

body{
    margin: 0;
    padding: 0;
}
#cont-img{   /*container vertical
   background-color: var(--morado-ligth);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40vh;
    height: 100vh;
    align-content: space-between;
    float: left;
}
#img-log{
    margin: 30px;
    padding: 5px;
    height: 150px;
    width: 150px;
    izquierda: 0.1px 0.3px 0.5px 1.5px #3521B5;
    border-radius: 5px var(--morado-ligth);
}
.contarriba{
    background-color: var(--morado-ligth);
    height: 150px;
}
.btns-menu{
    background-color: var(--morado-dark);
    color: var(--fondo-color);
    margin-bottom: 24px;
    margin-left: 5px;
    padding: -9px;
    height: 60px;
    width: 250px;
    border-radius: 35px;
    border: solid 1px var(--morado-dark);
    font-family: var(--tipletra);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: left;

}
.styles-btns{
    width: 20px;
    height: 20px;
    margin: 5px;
}
#profile{
    float: left;
    margin-left: 25px;
}
#vacuna{
    float: left;
    margin-left: 25px;
}
#huella{
    float: left;
    margin-left: 25px;
}
#salir{
    float: left;
    margin-left: 25px;
}
.box-profile{
    display: flex;
}
#profile-icon{
    height: 65px;
    margin: 40px;
   
}
.title-profile{
    color: var(--fondo-color);
   margin-top: 20px;
   font-family: var(--tipletra);
   font-size: 20px;
}
.profile{
    background-color: var(--morado-dark);
    float: right;
    height: 100px;
    width: 380px;
    margin-left: 320px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 0px 2px 2px rgba(38, 6, 219, 0.712);
}
.imgprofile{
    display: flex;
}
#avatar{
    margin:20px;
    border-radius: 50%;
    height: 50px;
}
 h3{
    color: var(--fondo-color);
    font-family: var(--tipletra);
    font-size: 20px;
    padding: 20px;
    align-items: center;
}

.cardfotoperfil{
    background-color: transparent;
    height: 250px;
    display: flex;
}
.cardphoto{
   margin: 35px;
}
#photo{
    height: 170px;
    border-radius: 50%;
    border: 1px solid var(--morado-dark);
}
#name-user{
    color: var(--letra-color);
    font-family: var(--tipletra);
    font-size: 70px;
}
.line{
    background-color: var(--morado-dark);
    height: 3px;
    width: 87vh;
} */

:root{
    --width: 200px; /*menu expandido*/
    --padding: 10px;
    --bgcolor: #4E36E9;
    --hovercolor: gold;
    --widthcolapse: 50px; /*menu encogido*/
    --morado-dark: #3521B5;
    --tipletra : 'Reem Kufi', sans-serif;
    --iniciasesion : 'Rokkitt', serif;
}


body{
    /* background-color: rgb(0, 0, 179); */
    font-family: var(--tipletra);
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--widthcolapse);
}

.body-expanded{ 
    margin-left: var(--width);
    background-color: none;  
}
#sidemenu{
    background-color: #4E36E9;
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
#sidemenu a{
    color: white;
    text-decoration: none;
}
/*HEADER*/
#sidemenu #header{
    box-sizing:border-box ;
    border-bottom: solid 1px var(--morado-dark);
}
#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}
#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}
#sidemenu #header #menu-btn{
    display: inline-block;
}
#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--widthcolapse);
    box-sizing: border-box;

}
#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}

.btn-hamburguer{ /*rayas del menu hamburguer*/
    background-color: white;
    width: 100%;
    height: 3px;
    margin: 5px 0;
}
/*PROFILE*/
#sidemenu #profile{
    border-bottom: solid 1px var(--morado-dark);
    padding: var(--padding) 0;
    text-align: center;
}
#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}
#sidemenu #profile #photo img{
    border-radius: 50%;
    width: 60%;
}

#sidemenu #profile #photo #name{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}
/*ITEMS*/
#sidemenu #menu-items{
    overflow: hidden;
}
#sidemenu #menu-items .item{
    width: var(--width);
}
.item{
    background-color:var(--morado-dark);
    margin:15px 0;
}
/* #sidemenu #menu-items .item .icon{
    display: inline-block;
    background-color: yellowgreen;
} */
#sidemenu #menu-items .item .icon{
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 60px;
}
/* #sidemenu #menu-items .item .icon .title{
  
    font-size: 14px;
    overflow: hidden;
    display: inline-block;
    background-color: turquoise;
} */
.title{
    background-color: transparent;
    margin-left: 35px;
    display: flex;
    justify-content: center;
    padding: 0;

}
span{
    font-size: 18px;
    font-family: var(--tipletra);
    display: flex;
    align-items: center;
}
/*  esta en prueba #sidemenu #menu-items .item .icon .title{
    background-color: turquoise;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    width: 600px;
    margin-bottom: 10px;
   
} */
/*#sidemenu #menu-items .item a{  /*CONTAINER DE OPMENU

    display: block;
    background-color: violet;
}*/
#sidemenu #menu-items .item a{
    background-color:var(--morado-dark);
    height: 100%;
    width: 100%;
    display: flex;
}
#sidemenu #menu-items .item a:hover{
    background-color: var(--hovercolor);
}
#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--widthcolapse);
}
#sidemenu #menu-items .item .icon img{
    width: 100%;
}

#sidemenu #menu-items .item .icon .title{
    padding: var(--padding) 0;
}
#sidemenu #menu-items .item .item-separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0px;
}
.menu-expanded{  /*menu encogido*/
    /*width: var(--width);*/
    width: var(--widthcolapse);
    box-shadow: 0 0 10px var(--morado-dark);
}
.menu-expanded #header #title{
    display: inline-block;
    width: calc(100%-50px);
    margin-right: -5px;
    padding: var(--padding);
}
.menu-expanded #header #title span{
    width: calc(var(--width) - var(--widthcolapse) - 5px);
    overflow: hidden;
    display: inline-block;
}
.menu-expanded #profile #photo{
    /*width: 200px;*/
    width: 100%;
}
.menu-expanded #profile #name{
    width: 100%;
}
.menu-collapsed{ /*menu expandido*/
    /*width: var(--widthcolapse);*/
    width: var(--width);
}
/*.menu-collapsed #profile #name
    display: none;
}*/

.menu-collapsed .item{
    width: 100px;
}

.cardphoto-name{
    background-color: #4E36E9;
    display: flex;
    width: 100%;
}
.caja{
    background-color: transparent;
    display: flex;
    margin-left: 50px;
}
.photoprofile{
    display: inline-flex;
    margin: 10px 20px;
}
.photoprofile img{
    border-radius: 50%;
}
.name-profile{
    display: flex;
    background-color: #4E36E9;
    color: white;
    font-family: var(--tipletra);
    align-items: center;
    font-size: 25px;
}
#cajacheck{
    background-color: #4E36E9;
    align-items: center;
    display: inline-flex;
    font-family: var(--tipletra);
    font-size: 20px;
    color: white;
    margin-left: 80px;
}

#exampleCheck1{
    margin-right: 10px;
    background-color: #00f700;
    border: solid 1px #3521B5;
}
#label-edit{
    align-items: center;
    display: inline-flex;
    font-family: var(--tipletra);
}
.card-dates{
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
.formulario{
    margin:5vh;
    margin-right: 10vh;
}
#name{
    color: var(--letra-color);
    font-family: var(--tipletra);
}
#name input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}
#apellido{
    color: var(--letra-color);
    font-family: var(--tipletra);
}
#apellido input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
   
}

#identificacion{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#identificacion input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}

#celular{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#celular input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}

#direccion{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#direccion input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}

#email{
    color: var(--letra-color);
    font-family: var(--tipletra);
    margin-top: 25px;
}

#email input{
    border-radius: 25px;
    border-color: var(--morado-ligth);
    font-family: var(--tipletra);
    
}

